<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engenharia Solidária</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body
    data-url-home="{{ url_for('homepage') }}"
    data-url-projetos="{{ url_for('projetos') }}"
    data-url-parceiros="{{ url_for('parceiros') }}"
    data-url-sobre-nos="{{ url_for('sobre_nos') }}"
    data-url-login="{{ url_for('login_cadastro') }}"
    data-url-register="{{ url_for('login_cadastro') }}#register"
>

    <header class="header">
        <nav class="container navbar">
            <a href="#" class="logo">Engenharia Solidária</a>
            <div class="nav-links" id="nav-auth-links">
                <a href="{{ url_for('projetos') }}">Projetos</a>
                <a href="{{ url_for('sobre_nos') }}">Sobre Nós</a>
                <a href="{{ url_for('parceiros') }}">Parceiros</a>
                <a href="{{ url_for('login_cadastro') }}#login" id="btn-login">Login de Estudante</a>
            </div>
                <a href="{{ url_for('login_cadastro') }}#register" 
                class="btn btn-primary" id="btn-register">
            Cadastro de Estudante</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Construindo futuros, juntos.</h1>
                <p>Conectamos estudantes de engenharia a projetos que transformam comunidades.</p>
                <a href="{{ url_for('projetos') }}" class="btn btn-primary">Ver Projetos</a>
                <a href="{{ url_for('parceiros') }}" class="btn btn-secondary">Sou uma ONG</a>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h2 class="section-title">Como Funciona</h2>
                <div class="how-it-works-grid">
                    <div class="step">
                        <h3>1. Cadastre-se</h3>
                        <p>Crie seu perfil de voluntário e adicione suas habilidades técnicas e áreas de interesse.</p>
                    </div>
                    <div class="step">
                        <h3>2. Encontre um Projeto</h3>
                        <p>Navegue pelas oportunidades disponíveis e escolha uma causa que combine com você.</p>
                    </div>
                    <div class="step">
                        <h3>3. Faça a Diferença</h3>
                        <p>Coloque seu conhecimento em prática, colabore com a equipe e gere impacto social real.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section projects-section">
            <div class="container">
                <h2 class="section-title">Projetos em Destaque</h2>
                <div class="projects-grid">
                    <div class="project-card">
                        <img src="{{ url_for('static', filename='img/hospital.jpg')}}" alt="Projeto 1">
                        <div class="project-card-content">
                            <h3>Hospital Geral de Fortaleza</h3>
                            <p class="project-card-location">Fortaleza</p>
                            <div class="project-card-tags">
                                <span class="tag">#Elétrica</span>
                                <span class="tag">#Pintura</span>
                            </div>
                            <a href="{{ url_for('detalhes_projeto') }}" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="{{ url_for('static', filename='img/creche.jpg')}}" alt="Projeto 2">
                        <div class="project-card-content">
                            <h3>Construção de Horta na Creche Local</h3>
                            <p class="project-card-location">Algum lugar de Fortaleza</p>
                            <div class="project-card-tags">
                                <span class="tag">#Alvenaria</span>
                                <span class="tag">#Hidráulica</span>
                            </div>
                            <a href="{{ url_for('detalhes_projeto') }}" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="{{ url_for('static', filename='img/escola.jpg')}}" alt="Projeto 3">
                        <div class="project-card-content">
                            <h3>Instalação de Painéis Em Escola</h3>
                            <p class="project-card-location">Em algum lugar, Fortaleza</p>
                            <div class="project-card-tags">
                                <span class="tag">#Elétrica</span>
                                <span class="tag">#Estruturas</span>
                            </div>
                            <a href="{{ url_for('detalhes_projeto') }}" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">

        <div class="container">
            <p>&copy; 2025 Engenharia Solidária. Um projeto da disciplina de Lógica de Programação.</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='scripts/login_cadastro.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/nav.js') }}"></script>
</body>
</html>